body {
    background: lightcyan;
}

.screenContainer {
    position: absolute;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    background: whitesmoke;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
}

#returnButton {
    position: absolute;
    left: 25px;
    bottom: 40px;
}