body {
    background: lightcyan;
}

.formHead {
    font-weight: bold;
}

.formHead:first-letter {
    text-transform: capitalize;
}

.row {
    margin-bottom: 4px;
    margin-top: 4px;
}

.screenContainer {
    position: absolute;
    border: 1px solid black;
    width: 700px;
    background: whitesmoke;
    left: calc(50% - 350px);
    top: 100px;
}

#returnButton {
    position: absolute;
    left: 25px;
    bottom: 40px;
}